@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .heading {
    height: 35px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 650;  
    position: relative;
    top: -15px;    
    padding-right: 35px;
    width: 100%;
    }
}

  

