@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
  a {
    text-transform: capitalize;
  }


  .heading {
    height: 80px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;

      .category {
        font-size: 26px;
        font-weight: 650;
      }

      .sortBy {
        font-size: 14px;
        font-weight: 400;

        select {
          color:  grey;
          margin-left: 10px;
          padding: 5px;
        }
      }

      .show {
        font-size: 14px;
        font-weight: 400;

        select {
          color:  grey;
          margin-left: 10px;
          padding: 5px;
        }
      }
  }
}
