@import '.././../../styles/settings.scss';

.root {
  .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    height: 200px;
    margin: 20px auto;

    .slide {
      height: 100%;
      width: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $footer-bg;
      font-size: 15px;
      color: $footer-heading;
      z-index: 50;

      .animatedLeft {
        transform: translateX(-100%);
        transition: all 2s;
      }

      svg {
        font-size: 20px;
      }
    }

    .brandsWrapper {
      width: 90%;
      overflow: hidden;

      .swipable {
        // display: flex;
        height: 100%;

        .elem {
        display: flex;
        height: 100%;
        }

        .swiper {
          height: 100%;
        }

        .swiper > div {
          height: 100%;
        }
      }


      .brand {
        width: 16.66667%;;
        display: flex;
        justify-content: center;
        height: 100%;

        img{
          width: 90%;
          height: 100%;
          object-fit: fill;
        }
      }
    }
  }
}

@media (max-width: 968px) {
  .root .wrapper .brandsWrapper .swipable  .brand {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .root .wrapper .brandsWrapper .swipable  .brand {
    width: 33.33333%;
  }
}
