@import "../../../styles/settings.scss";

.root {
  background-color: $company-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $company-phone;
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $company-phone-icon;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: $company-cart;

      .cartIcon {
        background-color: $company-cart-bg;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        min-width: 28px;
        height: 27px;
        border-radius: 14px;
        padding: 1px;
        font-size: 11px;
        background-color: $company-cart-counter-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $company-cart-counter-color;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }

      &:hover {
        .cartIcon {
          background-color: lighten($company-cart-hover, 10%);
        }
      }
    }
  }
}
