@import '../../../styles/settings.scss';

.component {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: $base-padding / 4;
    background-color: $footer-claim-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-top: 1px solid $white;
}

.button {
  display: block;
  background: $footer-claim-bg;
  color: $white;
  margin-right: $base-padding * 2;
  padding: ($base-padding / 4) ($base-padding / 2);
  height: 50%;
  border-radius: 6px;

  &:hover {
    background: $primary;
    text-decoration: none;
    color: $white;
  }
}
