
@import '../../../styles/settings.scss';

.component {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 20px;
  background: $popUp-background;
  border: 1px solid $popUp-border;
  display: flex;
  justify-content: center;
  z-index: 3;

  p {
    display: inline;
    padding: 10px 20px;
    margin: 0;
    font-size: 0.8rem;
    color: $popUp-font-color;
  }
}

