/* Global color variables - DO NOT USE IN OTHER FILES */

$primary: #d58e32;
$white: #ffffff;
$lightestGrey: #f4f5f7;
$lighterGrey: #D8D8D8;
$lightGrey: #A9A9A9;
$grey: #434343;
$darkGrey: #363636;
$darkestGrey: #2a2a2a;

/* Global variables */

$base-padding: 24px;

$text-color: $darkestGrey;

/* Colors for Button component */

$main-bg: $darkestGrey;
$main-color: $white;
$main-noHover-bg: $primary;
$main-noHover-color: $white;
$outline-border: $darkestGrey;
$outline-color: $darkestGrey;
$outline-noHover-bg: $darkestGrey;
$outline-noHover-color: $white;

/* Colors for FeatureBox component */

$feature-border: $lightGrey;
$feature-active-iconWrapper: $white;
$feature-active-after: $primary;
$feature-active-content: $primary;
$feature-icon-before-border: $lightGrey;
$feature-icon-before-bg: $white;
$feature-icon-after-border: $lightGrey;

/* Colors for ProductBox component */

$productBox-bg: $white;
$productBox-border: $lighterGrey;
$productBox-photo-bg: $lightestGrey;
$productBox-sale-bg: $darkGrey;
$productBox-sale-color: $white;
$productBox-header: $primary;
$productBox-line-border: $darkestGrey;
$productBox-line-before-border: $primary;

/* Colors for NewFurniture component */

$newFurn-border: $lightestGrey;
$newFurn-heading: $primary;
$newFurn-heading-before-border: $primary;
$newFurn-link: $darkestGrey;
$newFurn-link-active-border: $primary;
$newFurn-dots-ul-bg: $white;
$newFurn-dots-link-bg: $lightestGrey;
$newFurn-dots-link-active-bg: $primary;

/* Colors for ProductSearch component */

$prodSearch-border: $darkestGrey;
$prodSearch-icon-first: $primary;

$header-topbar-bg: $grey;
$header-bg: $darkGrey;

$footer-claim-bg: $darkestGrey;
$footer-bg: $darkGrey;
