@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-bg;
  border: 1px solid $productBox-border;
  margin-bottom: 2rem;
  transition:0.3s linear all;

  &:hover {
    .photo .buttons {
      display:flex;
      justify-content: space-between;
    }
    .actions .price> div{
      background-color: $primary;
    }
  }
  &:hover {
    transform:translate(5%,-5%);
    box-shadow: -12px 14px 49px -14px rgba(0,0,0,.5);




  }

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $productBox-photo-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      z-index: 1;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productBox-sale-bg;
      border-radius: 50%;
      color: $productBox-sale-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display:none;
      width: 90%;
      position: absolute;
      justify-content: space-between;
      bottom:0;
    }
  }


  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $productBox-header;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $text-color;
      }
      .ulubStars {

          text-decoration: none;
          color:$primary;
      }

      a:hover ~ a {
        color:#222;
        text-shadow: none;
        transition: color 200ms,
        text-shadow 200ms;
      }
      &:hover a{
        color: $primary;
        text-shadow: $primary 0 0 20px;
      }
      &:hover a:nth-child(2){
        transition-delay: 30ms;
      }
      &:hover a:nth-child(3){
        transition-delay: 60ms;
      }
      &:hover a:nth-child(4){
        transition-delay: 90ms;
      }
      &:hover a:nth-child(5){
        transition-delay: 120ms;
      }
    }

  }


  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productBox-line-border;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $productBox-line-before-border;
      transform: translateX(-50%);
    }
  }
  .image {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  }
  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .randomActive{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
    font-size: 13px;
    line-height: 22px;
    border-radius: 50%;

  }
  .oldprice{
    text-decoration: line-through;
    font-size: 13px;
    line-height: 24px;
    padding: 5px 10px;
    font-weight: 400;
    color:gray;
  }
}

