@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 2;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 2;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      background-color: #ffffff;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    z-index: 1;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

.mobile {
    display: block;
    min-height: 80px;

  .category {
    border-right: 0;
  }

  .searchField {
    border-top: 1px solid $form-border-color;
    padding-top: 10px;
    margin-bottom: 10px;

    button {
      position: absolute;
      right: 0;
    }
  }
}

.wrapMd {
  flex: 0 0 90%;
}