@import "../../../styles/settings.scss";

.root {
  border: 1px solid $prodSearch-border;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $prodSearch-border;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    z-index: 2;

    .list{
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      margin: 0;
      position: relative;
      z-index: 1;
      height: 100%;
      list-style-type: none;
      width:100%;

      .active{
        position: relative;
        left:-41px;
        box-sizing: unset;
        padding-left: 39px;
        display:none;
        width: calc(100% + 1px);
        height: 100%;
        border:  0.5px dotted #292929;
        background-color: white ;
        border-left:1px solid #292929;
        border-right: 1px solid #292929;
        color: black;


      }
      .active:nth-last-of-type(1){
        border-bottom: 1px solid #292929;
      }
      .defaulta{
        width: 100%;
        height: 100%;
        margin-right: 25px;
        display:block;
      }
      .active:hover{
        background-color: $productSearch-category-hover-bg;
        color:white;
      }

      li a {
        display: block;
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
      }
      .defaultOption{
        display:block !important;
      }
    }
    .icon:first-child {
      color: $prodSearch-icon-first;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      color: $prodSearch-icon-first;
      position: absolute;
      right: 10px;
      z-index: 0;
    }


    &:hover {
      .icon{color: $productSearch-category-hover;}
      background-color: $productSearch-category-hover-bg;
      color:$productSearch-category-hover;
      .active{
        display:block;
      }

    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    z-index: 2;


    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      &:focus{
        outline:none;
      }
      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

.mobile {
    display: block;
    min-height: 80px;

  .category {
    border-right: 0;

    .list {
      z-index: 2;

      li a {
        z-index: 2;
        top: 0;
        left: 0;
        transform: translate(0, 20%);
        min-height: 40px;
      }
    }
  }

  .searchField {
    border-top: 1px solid #000000;
    padding-top: 10px;
    margin-bottom: 10px;

    button {
      position: absolute;
      right: 0;
    }
  }
}

.wrapMd {
  flex: 0 0 90%;
}