@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .list{
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      margin: 0;
      position: relative;
      z-index: 1;
      height: 100%;
      list-style-type: none;
      //overflow: hidden;

      li{
        position: relative;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        height: 100%;
        margin-right: 25px;

      }
      li:hover li{
        background-color:blue;
      }
      option{
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
      }
    }
    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
