@import "../../../styles/settings.scss";

.root {
  padding-bottom: $base-padding * 2;
}

.heading {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 4px solid $gallery-heading-border;

  h3 {
    color: $gallery-heading;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 45px;
    border-bottom: 4px solid $gallery-heading-before;
  }
}

.dots {
  position: absolute;
  right: 0;
  top: 0;

  ul {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
    background-color: $newFurn-dots-ul-bg;
    transform: translateY(15px);

    li {
      display: inline-block;
      margin-left: 0.5rem;

      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: $newFurn-dots-link-bg;
        font-size: 0;

        &.active,
        &:hover {
          background-color: $newFurn-dots-link-active-bg;
        }
      }
    }
  }
}
